body{
    background-color: rgb(12, 24, 46);
}

.contenedor1{
    margin: 1% 10% 2% 10%;
    display: grid;
    gap: 2vw ;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto  ;
    padding: 0.5208333333333334vw;
    background-color: #000000;
    border: solid 0.5vw black;
    border-radius: 1vw;
}
.contenedor1 .p3{
    margin-top: -23vw;
}
.contenedor1 .p5{
    margin-top: -48.3vw;
}

.contenedor2{
    margin: 1% 10% 2% 10%;
    display: grid;
    gap: 2vw ;
    grid-template-columns: auto auto auto;  
    grid-template-rows: auto auto auto auto  ;
    padding: 0.5208333333333334vw;
    background-color: #000000;
    border: solid 0.5vw black;
    border-radius: 1vw;
}
.contenedor2 .p2{
    margin-top: -10vw ;

}
.contenedor2 .p3{
    margin-left: 10vw;
}

.contenedor2 .p4{
    grid-column: 3 ;
}
.contenedor2 .p5{
    margin-top: -38vw;
}

.contenedor3{
    margin: 1% 10% 2% 10%;
    display: grid;
    gap: 2vw ;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto  ;
    padding: 0.5208333333333334vw;
    background-color: #000000;
    border: solid 0.5vw black;
    border-radius: 1vw;
}

.contenedor4{
    margin: 1% 10% 2% 10%;
    display: grid;
    gap: 2vw ;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto  ;
    padding: 0.5208333333333334vw;
    background-color: #000000;
    border: solid 0.5vw black;
    border-radius: 1vw;
}
.contenedor4 .p1{
    grid-column: 1/ span 2;
}
.contenedor4 .p4{
    grid-column: 2;
    margin-top: -23.2vw;
}